<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/header.ejs')  %> 
    <main class="container">
        <h2 class="text-center">Tu Busqueda : <%= busqueda %>  </h2>
        <div class="container d-flex flex-wrap justify-content-center">

            <% if (autos.length == 0) { %>

                <h1>NO TENEMOS AUTOS DE LA MARCA SOLICITADA INTENTA CON OTRA</h1>

            <% } else { %>
         
                <% autos.forEach( auto => { %>
                    <div class="card m-2 text-black bg-light" style="width: 16rem;">
                        <img src="/images/<%- auto.imagen %>" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%= auto.marca.toUpperCase() %></h5>
                        <p class="card-text">Modelo: <%= auto.modelo %></p>
                        <p class="card-text">Año: <%= auto.anio %></p>
                        <p class="card-text">Color: <%= auto.color %></p>
                        <a href="/autos/detalle/<%- auto.id %>" class="btn btn-primary">Detalle</a>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </main>
   
    <%- include('./partials/scripts.ejs')  %> 
</body>
</html>