<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header') %>
        <div class="container d-flex flex-wrap justify-content-center">
            <% getSucursales.forEach( sucursal => { %>
                <div class="card m-3" style="width: 14rem;">
                    <img src="/images/<%=sucursal.imagen%> " class="card-img-top" alt="imagen">
                    <div class="card-body">
                      <h5 class="card-title"><%= sucursal.nombre %></h5>
                      <p class="card-text"><%= sucursal.direccion %></p>
                      <p class="card-text"><%= sucursal.telefono %></p>
                      <a href="/sucursales/<%= sucursal.id %>" class="btn btn-primary">Ver Mas</a>
                    </div>
                </div>
            <% }) %> 
        </div>
        <%- include('partials/scripts.ejs') %> 
    </body>
</html>