<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/headerAdmin.ejs')  %> 
    <script src="/javascript/imagePreview.js"></script>
    <main class="container">
        <h3 class="text-center">Editar Auto</h3>
        <div class="container col-md-4">
            <form class="row g-3" action="/admin/autos/editarAuto/<%= auto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="col-12">
                    <label for="marca" class="form-label">Marca</label>
                    <input type="text" class="form-control" id="marca" name="marca" value="<%= auto.marca %>">
                    <small class="text-danger"></small>
                </div>
                <div class="col-12">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" value="<%= auto.modelo %>">
                    <small class="text-danger"></small>
                </div>
                <div class="col-12">
                    <label for="anio" class="form-label">Año</label>
                    <input type="number" class="form-control" id="anio" name="anio" value="<%= auto.anio %>">
                    <small class="text-danger"></small>
                </div>
                <div class="col-12">
                    <label for="color" class="form-label">Color</label>
                    <input type="text" class="form-control" id="color" name="color" value="<%= auto.color %>">
                    <small class="text-danger"></small>
                </div>
                <div class="col-12">
                    <label for="sucursal" class="form-label">Sucursal</label>
                    <select name="sucursal" id="sucursal">
                        <option selected hidden value="<%= sucursal.id %>"><%= sucursal.nombre %></option>
                        <% getSucursales.forEach( sucursal => { %>
                            <option value="<%= sucursal.id %> "><%= sucursal.nombre %> </option>
                        <% }) %> 
                    </select>
                    <small class="text-danger"></small>
                </div>
                <div class="col-12">
                    <figure class="text-center">
                        <div id="imagePreview">
                            <img src="/images/<%= auto.imagen %>" alt="" width="200px" height="200px">
                        </div>
                    </figure>
                    <label for="inputFile" class="form-label">Imagen</label>
                    <input type="file" class="form-control" name="image" id="inputFile" onchange="fileValidation()"/>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">EDITAR</button>
                </div>
            </form>
        </div>
    </main>
   
    <%- include('../partials/scripts.ejs')  %> 
</body>
</html>